{% load user_tags %}

<div class="video-wrapper2">
  <a href="{% url 'detail_video' uuid=video.id %}" class="search-video-a">
      <img class='search-video-container' src="{{ video.picture.url }}">
      <div class="search-video-overlay">
          <span class="overlay-text">Смотреть видео</span>
      </div>
      <div class="search-duration">{{ video.duration|get_video_duration }}</div>
      <div>
          <p class="search-video-wrapper-title">{{ video.title|truncatechars:50 }}</p>
          <span class="video-wrapper-views">{{ video|get_rel_views }}</span>
          <span class="video-creation-date">• {{ video.creation_date|get_date }}</span><br>
          <a href="{% url 'channel' video.user.alias %}">
              <div style="display: flex; align-items: center; gap: 10px; padding-top: 10px;">
                  <img src="{{ video.user.user_icon.url }}" style="width: 30px; height: 30px; object-fit: cover; border-radius: 50%">
                  <span class="search-author-name" title="{{ video.user.username}}">{{ video.user.username }}</span>
              </div>
          </a>
          <p class="video-wrapper-description">{{ video.description|truncatechars:100 }}</p>
      </div>
  </a>
</div>