{% load user_tags %}

<div class="video-wrapper">
  <a href="{% url 'detail_video' video.pk %}">
      <img class='video-container' src="{{ video.picture.url }}">
      <div class="video-overlay">
          <span class="overlay-text">Смотреть видео</span>
      </div>
      <div class="duration1">{{ video.duration|get_video_duration }}</div>
      <div class="video-wrapper-middle">
          <a href="{% url 'channel' video.user.alias %}">
            <img class="author-video-image" src="{{ video.user.user_icon.url }}">
          </a>
          <span class="video-wrapper-title">{{ video.title|truncatechars:40 }}</span>
      </div>
      <div class="video-wrapper-bottom">
          <a href="{% url 'channel' video.user.alias %}">
              <p class="author-name" title="{{ video.user.username}}">{{ video.user.username }}</p>
          </a>
          <span class="video-wrapper-views">{{ video|get_rel_views }}</span>
          <span class="video-creation-date">• {{ video.creation_date|get_date }}</span>
      </div>
  </a>
</div>