@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: Roboto;
    font-weight: 500;
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 500px;
    padding: 30px;
    background-color: rgb(190, 190, 190);
    border-radius: 20px;
    color: white;
}

.title {
    font-size: 80px;
    font-weight: 300;
    color: black;
}

.login-label {
    font-size: 20px;
    color: black;
}

.login-input {
    background: rgb(170, 170, 170);
    color: black;
    border: 0;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 300px;
    outline: none;
}

::placeholder {
    color: #505050;
}

.login-input:hover {
    border-color: rgb(100, 100, 100);
}

.login-input:focus {
    border-color: rgb(70, 70, 70);
}

.login-apply-btn {
    background-color: rgb(140, 140, 140);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    height: 40px;
}

.login-apply-btn:hover {
    background-color: #5D5D5D;
}

.login-apply-btn:active {
    background-color: #7C7C7C;
}

a {
    color: #3782C2;
    text-decoration: none;
}

a:hover {
    color: #63A0D4;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.errorlist {
    color: #DC4747;
    font-size: 18px;
}