<div class="custom-file-container">
    <label class="file-input-button" for="{{ widget.name }}">Выбрать изображение</label>
    <input type="file" name="{{ widget.name }}" id="{{ widget.name }}" class="{{ widget.attrs.class }}" accept="image/*" onchange="updateFileName('{{ widget.name }}')">
    <span class="file-chosen-message" id="{{ widget.name }}-message">Файл не выбран</span>
</div>

<script>
// Функция обновления имени выбранного изображения
function updateFileName(widgetName) {
    const input = document.getElementById(widgetName);  // Получаем input
    const fileNameSpan = document.getElementById(widgetName + '-message');  // Получаем span для отображения имени файла

    // Проверяем, выбран ли файл
    if (input.files.length > 0) {
        const fileName = input.files[0].name;  // Получаем имя выбранного файла
        fileNameSpan.textContent = fileName;  // Обновляем текст с именем файла
    } else {
        fileNameSpan.textContent = 'Изображение не выбрано';  // Если файл не выбран, показываем это сообщение
    }
}
</script>