{% extends 'base.html' %}

{% block aside %}
{% include 'aside_1.html' %}
{% endblock %}

{% block content %}
<div id="container" class="container">
    <div class="create-post-space">
        <p class="create-post-title">Загрузить видео</p>
        <div class="create-post-container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="create-post-btn">Опубликовать</button>
            </form>
        </div>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    // Обработчик для всех элементов с классом .file-input
    document.querySelectorAll('.file-input').forEach(function(input) {
        input.addEventListener('change', function(event) {
            const fileName = event.target.files[0] ? event.target.files[0].name : 'Файл не выбран';
            const fileMessageElement = document.getElementById(event.target.id + '-message');
            fileMessageElement.textContent = fileName; // Отображаем имя файла

            // Обрезаем текст, если он длиннее заданного количества символов
            const maxLength = 20; // Измените значение, чтобы установить нужную длину
            if (fileName.length > maxLength) {
                fileMessageElement.textContent = fileName.slice(0, maxLength) + '...';
            }
        });
    });
});
</script>
{% endblock %}
