{% extends 'base.html' %}
{% load user_tags %}

{% block aside %}
{% include 'aside_1.html' %}
{% endblock %}

{% block content %}

{% if not playlist %}

<div class="container" id="container">
    <p class="home-pl-title">Плейлисты</p>
    <div class="video-grid">
        {% if playlists %}
        {% for pl in playlists %}

            {% include 'deletable_playlist_container.html' with pl=pl %}

        {% endfor %}
        {% else %}
            <p style="color: black; font-size: 18px; margin-left: 150px;">Здесь ничего нет.</p>
        {% endif %}
    </div>
</div>

{% else %}

{% include 'mainsite/detail_playlist.html' with playlist=playlist playlist_videos=playlist_videos %}

{% endif %}

<script>
document.querySelectorAll('.delete-playlist-btn').forEach(button => {
    button.addEventListener('click', function() {
        const modal = this.nextElementSibling; // Модальное окно следующее за кнопкой
        const commentId = modal.querySelector('.playlist_id').value; // Получаем ID комментария
        const form = modal.querySelector('.delete-playlist-form'); // Находим форму

        openDeleteModal(modal);
    });
});

function openDeleteModal(modal) {
    modal.style.display = 'flex';
}

// Функция для закрытия модального окна
function closeDeleteModal(modal) {
    modal.style.display = 'none';
}

// Открытие модального окна при клике на кнопку удаления
document.querySelectorAll('.delete-playlist-btn').forEach(button => {
    button.addEventListener('click', function() {
        const modal = this.nextElementSibling; // Модальное окно следующее за кнопкой
        openDeleteModal(modal);
    });
});

// Закрытие модального окна при клике на "Отмена"
document.querySelectorAll('.cancel-delete').forEach(button => {
    button.addEventListener('click', function() {
        const modal = this.closest('.delete-playlist-modal'); // Находим ближайшее модальное окно
        closeDeleteModal(modal);
    });
});

// Закрытие модального окна при клике вне области модального окна
document.querySelectorAll('.delete-playlist-modal').forEach(modal => {
    modal.addEventListener('click', function(event) {
        if (event.target === modal) { // Проверяем, что клик был вне области модального окна
            closeDeleteModal(modal);
        }
    });
});

document.querySelectorAll('.delete-playlist-form').forEach(form => {
    form.addEventListener('submit', function(event) {
        event.preventDefault(); // Отменяем стандартную отправку формы

        const formData = new FormData(this); // Собираем данные формы
        const commentId = formData.get('playlist_id'); // Получаем ID комментария
        formData.append('action_type', 'delete-playlist')

        fetch(this.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': getCookie('csrftoken'), // Для защиты от CSRF
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                const modal = this.closest('.delete-playlist-modal'); // Находим модальное окно
                const deleteNotification = document.querySelector('.delete-playlist-notification');
                closeDeleteModal(modal);
                deleteNotification.style.display = 'block'

                setTimeout(() => {
                    deleteNotification.style.display = "none";
                }, 3000); // 3000 миллисекунд = 3 секунды
            }
        })
        .catch(error => {
            console.error('Ошибка:', error);
        });
    });
});

// Функция для получения CSRF-токена
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
{% endblock %}