{% extends 'base.html' %}
{% load user_tags %}

{% block aside %}
{% include 'aside_2.html' %}
{% endblock %}

{% block content %}
<div class="content-aside">
    <div class="content-aside-top">
        <img src="{{ user.user_icon.url }}" width="180">
        <span class="your-channel">Ваш канал</span>
        <span class="content-aside-username">{{ user.username }}</span>
    </div>

    <div class="content-aside-menu">
        <a class="content-aside-a" href="{% url 'list_content_video' user.alias %}">
            <div class="content-aside-item">
                <i class="fa-solid fa-video"></i>
                <span class="content-aside-text">Видео</span>
            </div>
        </a>
        <a class="content-aside-a" href="{% url 'list_content_post' user.alias %}">
            <div class="content-aside-item">
                <i class="fa-regular fa-copy"></i>
                <span class="content-aside-text">Посты</span>
            </div>
        </a>
    </div>
</div>
<div class="content-container">
    <p class="content-title">Контент на канале</p>
    <div class="content-table">
        <table>
            <thead>
                <tr>
                    <th>Видео</th>
                    <th>Действие</th>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Доступ</th>
                    <th>Дата загрузки</th>
                    <th>Просмотры</th>
                    <th>Комментарии</th>
                    <th>% Нравится</th>
                </tr>
            </thead>
            <tbody>
            {% for video in videos %}
                <tr>
                    <td>
                        <a href="{% url 'edit_video' user.alias video.id %}" class="video-link">
                            <img class="content-video-container" src="{{ video.picture.url }}">
                            <div class="content-video-overlay">
                              <span class="content-overlay-text">Редактировать видео</span>
                            </div>
                        </a>
                    </td>
                    <td>
                        <button class="delete-content-btn">Удалить видео</button>
                        <div class="delete-content-modal">
                            <div class="delete-content-modal-content">
                                <p>Удалить видео?</p>
                                <form class="delete-content-form" method="post" action="">
                                    {% csrf_token %}
                                    <input class="content_id" type="hidden" name="content_id" value="{{ video.id }}">
                                    <button type="button" class="cancel-delete">Отмена</button>
                                    <button type="submit" class="confirm-delete">Подтвердить</button>
                                </form>
                            </div>
                        </div>
                        <div class="delete-content-notification" style="display: none;">
                            <span>Видео удалено</span>
                        </div>
                    </td>
                    <td>{{ video.title }}</td>
                    <td>{{ video.description|truncatechars:100 }}</td>
                    <td>{{ video.access|get_access_name }}</td>
                    <td>{{ video.creation_date|get_date_name }}</td>
                    <td>{% get_views video %}</td>
                    <td>{% get_comments video %}</td>
                    <td>{% get_video_percent video %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination">
        {% if page_obj.number > 1 %}
        <a href="?page=1"><i class="fa-solid fa-angles-left"></i></a>
      {% endif %}

      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-chevron-left"></i></a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <span class="current-page">{{ num }}</span>
        {% else %}
          <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-chevron-right"></i></a>
      {% endif %}

        {% if page_obj.number < page_obj.paginator.num_pages %}
            <a href="?page={{ page_obj.paginator.num_pages }}"><i class="fa-solid fa-angles-right"></i></a>
        {% endif %}
    </div>
</div>

<script>
document.querySelectorAll('.delete-content-btn').forEach(button => {
    button.addEventListener('click', function() {
        const modal = this.nextElementSibling; // Модальное окно следующее за кнопкой
        const commentId = modal.querySelector('.content_id').value; // Получаем ID комментария
        const form = modal.querySelector('.delete-content-form'); // Находим форму

        openDeleteModal(modal);
    });
});

function openDeleteModal(modal) {
    modal.style.display = 'flex';
}

// Функция для закрытия модального окна
function closeDeleteModal(modal) {
    modal.style.display = 'none';
}

// Открытие модального окна при клике на кнопку удаления
document.querySelectorAll('.delete-content-btn').forEach(button => {
    button.addEventListener('click', function() {
        const modal = this.nextElementSibling; // Модальное окно следующее за кнопкой
        openDeleteModal(modal);
    });
});

// Закрытие модального окна при клике на "Отмена"
document.querySelectorAll('.cancel-delete').forEach(button => {
    button.addEventListener('click', function() {
        const modal = this.closest('.delete-content-modal'); // Находим ближайшее модальное окно
        closeDeleteModal(modal);
    });
});

// Закрытие модального окна при клике вне области модального окна
document.querySelectorAll('.delete-content-modal').forEach(modal => {
    modal.addEventListener('click', function(event) {
        if (event.target === modal) { // Проверяем, что клик был вне области модального окна
            closeDeleteModal(modal);
        }
    });
});

document.querySelectorAll('.delete-content-form').forEach(form => {
    form.addEventListener('submit', function(event) {
        event.preventDefault(); // Отменяем стандартную отправку формы

        const formData = new FormData(this); // Собираем данные формы
        const commentId = formData.get('content_id'); // Получаем ID комментария
        formData.append('action_type', 'delete-content')

        fetch(this.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': getCookie('csrftoken'), // Для защиты от CSRF
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                const modal = this.closest('.delete-content-modal'); // Находим модальное окно
                const deleteNotification = document.querySelector('.delete-content-notification');
                closeDeleteModal(modal);
                deleteNotification.style.display = 'block'

                setTimeout(() => {
                    deleteNotification.style.display = "none";
                }, 3000); // 3000 миллисекунд = 3 секунды
            }
        })
        .catch(error => {
            console.error('Ошибка:', error);
        });
    });
});

// Функция для получения CSRF-токена
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
{% endblock %}
