{% load profile_tags %}

{% if widget.is_initial %}
<div class="custom-clearable-file-input">
    <div class="current-file-preview">
        <img src="{{ widget.value.url }}" alt="Текущее изображение" class="current-file-img">
    </div>

    <div class="custom-clearable-file-field">
        <button type="button" id="toggle-{{ widget.name }}-clear" class="toggle-button" onclick="toggleClear('{{ widget.name }}')">Удалить</button>
        <input type="hidden" name="{{ widget.name }}_clear" id="{{ widget.name }}_clear" value="false">
        <div>
            <button type="button" class="custom-file-button" onclick="document.getElementById('{{ widget.name }}-file-upload').click();">Изменить</button>
            <input type="file" id="{{ widget.name }}-file-upload" name="{{ widget.name }}" class="custom-file-input" onchange="updateFileName('{{ widget.name }}')" accept="image/*">
            <span id="{{ widget.name }}-file-name" class="file-name">{{ widget.value|basename }}</span>
        </div>
    </div>
</div>
{% endif %}


<script>
if ('{{ widget.name }}' === 'banner') {
    const deleteBtn = document.getElementById("toggle-{{ widget.name }}-clear")
    const fileName = document.getElementById("{{ widget.name }}-file-name")

    if ('{{ is_default_banner }}' === 'True') {
        deleteBtn.disabled = true;
        fileName.innerText = 'Нет выбранного файла'
    }
} else {
    const deleteBtn = document.getElementById("toggle-{{ widget.name }}-clear")
    const fileName = document.getElementById("{{ widget.name }}-file-name")

    if ('{{ is_default_user_icon }}' === 'True') {
        deleteBtn.disabled = true;
        fileName.innerText = 'Нет выбранного файла'
    }
};


function toggleClear(imageType) {
    const checkbox = document.getElementById(imageType + "_clear");
    const button = document.getElementById("toggle-" + imageType + "-clear");

    if (checkbox) {
        if (checkbox.value === "false") {
            checkbox.value = "true";  // Установить значение в true
            button.textContent = "Отменить"; // Короткий текст
        } else {
            checkbox.value = "false";  // Установить значение в false
            button.textContent = "Удалить";
        }
    }
}


function updateFileName(imageType) {
    const input = document.getElementById(imageType + '-file-upload');
    const fileNameSpan = document.getElementById(imageType + '-file-name');

    // Проверка, выбран ли файл
    if (input.files.length > 0) {
        const fileName = input.files[0].name; // Получаем название файла
        fileNameSpan.innerText = fileName; // Обновляем текст в span
        fileNameSpan.style.display = 'inline-block'; // Показываем span
    } else {
        fileNameSpan.innerText = 'Нет выбранного файла'; // Отображаем сообщение, если файл не выбран
        fileNameSpan.style.display = 'none'; // Скрываем span
    }
}
</script>

