{% extends 'base.html' %}

{% block aside %}
{% include 'aside_2.html' %}
{% endblock %}

{% block content %}
{% include 'users/sidebar.html' %}
<div class="profile-container">
    <span class='profile-title'>Личные данные</span>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div>{{ form.non_field_errors }}</div>
      {% for f in form %}
      <p><label class="profile-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
      <div>{{ f.errors }}</div>
      {% endfor %}
      <p><button type="submit" class="profile-apply-btn">Применить изменения</button></p>
    </form>
</div>
{% endblock %}