{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/user_styles.css' %}" type="text/css">
</head>
<body>
<p class="title">KazTube</p>
<div class="login-container">
    <form method="post">
        {% csrf_token %}
        <div class="form-error-field">{{ form.non_field_errors }}<div>
        {% for f in form %}
            <label class="login-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
            {{ f }}
            <div class="error">{{ f.errors }}</div>
        {% endfor %}
            <button type="submit" class="login-apply-btn">Подтвердить</button>
    </form>
</div>
</body>
</html>